/obj
/bin
/mrustc.depend
/mrustc.layout
/rustc-nightly-src.tar.gz
/rustc-nightly
/test_deps_run-pass.mk

/.obj
*.gch
*.gch.dep
*.sw[po]
*~
/output

/gitstats

/bnf/*.o
/bnf/*.dep
/bnf/.gen/
/bnf/output/
/bnf/.rust.y
/bnf/rust.lex.c
/bnf/rust.tab.c
/bnf/rust.tab.h
/bnf/rust.output
/bnf/test.bin
