
.*
*.gch
*.gch.dep
*.sw[po]
*~

/obj
/bin
/mrustc.depend
/mrustc.layout
/rustc-*-src.tar.gz
/rustc-*-src
/crates.io
/test_deps_run-pass.mk

/tools/bin

/output
/output-*

/vsproject/Win32
/vsproject/x64
/vsproject/*/Win32
/vsproject/*/x64
/vsproject/packages
/vsproject/*.sdf
/vsproject/*.VC.db
/vsproject/*.depend
/vsproject/*.opendb
/vsproject/*.user
/vsproject/*/*.opendb
/vsproject/*/*.user
/vsproject/output
/vsproject/output-*
/vsproject/output_mmir
/vsproject/*.obj
/vsproject/*.pdb
/vsproject/smiri.log
/vsproject/*.dmp
/vsproject/*/*.dmp
/vsproject/*.txt


/run_rustc/output
/run_rustc/output-*

/gitstats

/lib/libproc_macro/Cargo.lock
/lib/libproc_macro/target
/lib/libproc_macro/tools/dump.exe
/lib/libproc_macro/tools/dump.pdb

/bnf/*.o
/bnf/*.dep
/bnf/.gen/
/bnf/output/
/bnf/.rust.y
/bnf/rust.lex.c
/bnf/rust.tab.c
/bnf/rust.tab.h
/bnf/rust.output
/bnf/test.bin
