
.*
*.gch
*.gch.dep
*.sw[po]
*~

/obj
/bin
/mrustc.depend
/mrustc.layout
/rustc-nightly-src.tar.gz
/rustc-nightly
/crates.io
/test_deps_run-pass.mk

/output
/vsproject/Win32
/vsproject/x64
/vsproject/tu_test/Win32
/vsproject/tu_test/x64
/vsproject/minicargo/Win32
/vsproject/minicargo/x64
/vsproject/testrunner/Win32
/vsproject/testrunner/x64
/vsproject/packages
/vsproject/*.sdf
/vsproject/*.VC.db
/vsproject/*.depend
/vsproject/*.opendb
/vsproject/*.user

/vsproject/*/*.opendb
/vsproject/*/*.user

/run_rustc/output

/gitstats

/bnf/*.o
/bnf/*.dep
/bnf/.gen/
/bnf/output/
/bnf/.rust.y
/bnf/rust.lex.c
/bnf/rust.tab.c
/bnf/rust.tab.h
/bnf/rust.output
/bnf/test.bin
/vsproject/output
